ul {
  display: flex;
  justify-content:space-evenly; 
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background: whitesmoke;
  /* box-shadow: 4px 2px 5px gray; */
  color: white;
/* padding-bottom: 10%; */
  padding: 1.5rem 2rem;
}

.navBar button {
  background: transparent;
  border: 2px solid white;
  color: rgb(48, 47, 47);
  padding: 0.4rem 0.5rem;
}

.login{
  padding-left: 20%;
}

.fA{
  padding-right: 9%;
}

.navBar button:hover {
  background: white;
  color:rgb(48, 47, 47);
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
  text-align: center;
  padding-right: 10%;
  padding-left: 10%;
  color: rgb(48, 47, 47);
}
