header {
  padding: 1 rem;
  display: flex;
  flex-direction: row;
  justify-content:right;
}

header .brand {
  cursor: pointer;
  font-size: 3rem;
  color: rgb(48, 47, 47);
  padding-right: 46rem;
} 

 .navBar {
  background: #f5f4e6;
  box-shadow: 4px 2px 5px gray;
  color: white;
  padding-bottom: 10%;
  padding: 1.5rem 2rem;

}
 
.navBar b {
  justify-content: center;
}

header .login {
  background: transparent;
  color: rgb(48, 47, 47);
  justify-content: right;
} 



/* .navBar button:hover {
  background: white;
  color:rgb(48, 47, 47);
  cursor: pointer;
} */


