
.quote{
    font-size: medium;
    text-align: center;
}

.author{
    font-size:small;
    font-style: italic;
    text-align: center;

}

.homePageContainer{
    text-align: center;
    ;
}

.full{
    padding: 0%;
    margin: 0%;
    background-color: #f5f4e6;
}
